section.about-me
    .container
        .row
            .col
                .pd-title-wrap
                    p.title-h2 About me
                    .title-lines-wrap
                        .title-line
                        .title-line
            .col
                p.plain-text Fingerstache green juice semiotics quinoa, truffaut letterpress wolf photo booth ugh biodiesel mumblecore brunch. Meh austin vinyl banh mi, gluten-free chillwave scenester kombucha street art. Before they sold out lumbersexual chillwave, cold-pressed mumblecore beard pickled letterpress normcore crucifix.
        .row.about-me_progress
            - for (var x = 1; x <= 3; x++)
                .col
                    .row.progress-bar_wrap
                        case x
                            when 1
                                #temp-circle(data-init='progressBar' data-end-number='75' data-duration='1500')
                                span.skill-name.title-h3 Photoshop
                            when 2
                                #temp-circle(data-init='progressBar' data-end-number='65' data-duration='1500')
                                span.skill-name.title-h3 Illustrator
                            when 3
                                #temp-circle(data-init='progressBar' data-end-number='25' data-duration='1500')
                                span.skill-name.title-h3 Knitting
                    .row
                        p.plain-text.progress-desc(class='progress-text'+x)