section.contact
    .container
        .row
            .col
            .col
                .pd-title-wrap
                    p.title-h2 Contact
                    .title-lines-wrap
                        .title-line
                        .title-line
        .row.contact-content
            .col
                .form.contact-form
                    ul
                        li
                            label.title-h4 Name:
                            input(type='text').contact-item
                        li
                            label.title-h4 Email:
                            input(type='email' required).contact-item
                        li
                            label.title-h4 Message:
                            textarea(type='text').contact-item.user-message
                .btn-wrap
                    .pd-btn-wrap
                        .lines-wrap
                            .line-above
                            .line-below
                        button(type='submit').title-h4.yellow-btn Submit
            .col.contact_socials
                .row
                    ul
                        li
                            a(href="#").social_facebook
                        li
                            a(href="#").social_twitter
                        li
                            a(href="#").social_google-plus
                        li
                            a(href="#").social_pinterest
                        li
                            a(href="#").social_linkedin
                .row.contact_common
                    .row
                        .col
                            p.title-h4 Address
                            p.plain-text 9114 Bridge Street, Hillsboro, OR 97124
                        .col
                    .row
                        .col
                            p.title-h4 Phone
                            a(href="tel:482025550114").plain-text +48 202 - 555 - 0114
                        .col
                            p.title-h4 Email
                            a(href="mailto:contact@yoursite.com").plain-text contact@yoursite.com
