section.my-works
    .container.my-works__title
        .row
            .col
            .col
                .pd-title-wrap
                    p.title-h2 My works
                    .title-lines-wrap
                        .title-line
                        .title-line
    .row.justify-content-center.gallery-wrap
        .row.my-works__gallery
            .col
                a(href="#").gallery1
                    img(src="static/img/gallery1.jpg")
            .col
                a(href="#").gallery2
                    img(src="static/img/gallery2.jpg")
            .col
                a(href="#").gallery3
                    img(src="static/img/gallery3.jpg")
            .col
                a(href="#").gallery4
                    img(src="static/img/gallery4.jpg")
        .row.my-works__gallery
            .col
                a(href="#").gallery1
                    img(src="static/img/gallery4.jpg")
            .col
                a(href="#").gallery2
                    img(src="static/img/gallery1.jpg")
            .col
                a(href="#").gallery3
                    img(src="static/img/gallery2.jpg")
            .col
                a(href="#").gallery4
                    img(src="static/img/gallery3.jpg")
        .row.my-works__gallery
            .col
                a(href="#").gallery1
                    img(src="static/img/gallery2.jpg")
            .col
                a(href="#").gallery2
                    img(src="static/img/gallery4.jpg")
            .col
                a(href="#").gallery3
                    img(src="static/img/gallery3.jpg")
            .col
                a(href="#").gallery4
                    img(src="static/img/gallery1.jpg")
    .container
        .btn-wrap
            .pd-btn-wrap
                .lines-wrap
                    .line-above
                    .line-below
                button.title-h4.transparent-btn.load-more-gallery__btn(alt=1) Load more
