section.title-banner
    .row.title-banner__wrap
        .slider-window
            .title-banner_slider
                .t-b_slider-item.slider1
                    .t-b-title
                        p.title-h1 Tacos cardigan truffaut quanted!
                    img(src="static/img/title-bg.png").slider-bg
                    .btn-wrap
                        .pd-btn-wrap
                            .lines-wrap
                                .line-above
                                .line-below
                            button.title-h4.yellow-btn See more
                .t-b_slider-item.slider1
                    .t-b-title
                        p.title-h1 Tacos cardigan truffaut quanted!
                    img(src="static/img/title-bg.png").slider-bg
                    .btn-wrap
                        .pd-btn-wrap
                            .lines-wrap
                                .line-above
                                .line-below
                            button.title-h4.yellow-btn See more
                .t-b_slider-item.slider1
                    .t-b-title
                        p.title-h1 Tacos cardigan truffaut quanted!
                    img(src="static/img/title-bg.png").slider-bg
                    .btn-wrap
                        .pd-btn-wrap
                            .lines-wrap
                                .line-above
                                .line-below
                            button.title-h4.yellow-btn See more

