.about-me
  padding: 120px 0 90px 0
  background: $lightGreyBg

.about-me_progress
  display: block
  margin-top: 100px
  z-index: 10

.progress-text
  margin-top: 100px

.progress-desc
  text-align: center
  margin: 100px 10px 0 10px

.progress-bar_wrap
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center

.skill-name
  position: relative
  top: 70px

