.my-works
  margin-top: 117px

  .row
    margin: 0

  .col
    padding: 0

  .gallery1
    width: 100%
    height: 200px
    //background: url("../../img/gallery1.jpg") 0 0  no-repeat
    //background-size: cover

  .btn-wrap
    display: flex
    justify-content: center
    margin: 66px auto 80px auto

.my-works__title
  margin-bottom: 95px

.gallery-wrap
  width: 100%

.my-works__gallery
  display: flex //block
  flex-direction: row
  justify-content: flex-start
  margin: 0 auto
  width: 100vw
  max-width: 1800px
  font-size: 0

  .col
    a
      img
        display: block
        margin: 0 auto
        width: 100%
        height: 100%





