.what-i-do
  padding: 130px 0
  background: $lightGreyBg
  &_title
    padding: 130px 0

.pic-wrap
  display: flex
  align-items: flex-end
  position: relative
  height: 294px

.pic-and-dots
  display: block
  margin: 0 auto
  z-index: 3

  img
    display: block
    margin: 0 auto 45px auto

  .dotted-line
    display: block
    margin: 0 auto
    width: 5px
    height: 65px

    img
      display: block
      margin-bottom: 15px

.skill-item
  display: block
  margin-top: 45px
  text-align: center
  z-index: 6

  .title-h3
    margin-bottom: 28px
