// Переменные
@import '_vars'

@import 'libs'
//---------Стили секций--------

//Стиль верхнего меню
@import 'common/header'

@import 'sections/title-banner'

@import 'sections/what-i-do'

@import 'sections/my-works'

@import 'sections/about-me'

@import 'sections/contact'

@import 'common/common-styles'

@import 'common/pd-button'

@import 'common/footer'

//@import 'common/progress-bar'

html
  //line-height: 1.2
  font-size: 16px
  margin: 0

body
  height: auto
  width: 100%
  margin: 0
  padding: 0

div
  display: block

h1,
p
  margin: 0

.col
  padding: 0

a
  text-decoration: none

ul
  padding-left: 0
  margin: 0

.clearfix:after
  clear: both

.clearfix
  *zoom: 1

.wrapper
  display: block
  margin: 0 auto
  padding: 0
  position: relative
  overflow: hidden
  //opacity: .99
  width: 100%

//Adaptive
//@import '_media'

