.title-h1,
.title-h2,
.title-h3,
.title-h4
  font-family: $BigJohn

.title-h1
  font-size: 3em

.title-h2
  font-size: 3.000em

.title-h3
  font-size: 1.125em

.plain-text
  font-family: $OpenSans-Light

a
  color: $black

.pd-title-wrap
  .title-h2
    display: block
    margin-bottom: 30px

.title-lines-wrap
  display: block
  position: relative
  width: 532px
  height: 16px

  .title-line
    position: absolute
    width: 483px
    height: 5px
    background: $black

    &:first-child
      top: 0
      left: 0

    &:last-child
      bottom: 0
      right: 0



