footer
  padding-bottom: 60px
  background: $lightBlueBg

  .row,
  .col-4,
  .col-10
    margin: 0
    padding: 0

  .container
    padding: 0

  .top-nav_menu
    position: relative
    float: right

    li
      a
        padding: 17px 25px 17px 20px
