header
  position: absolute
  width: 100%
  top: 0
  left: 0
  margin-top: 60px
  z-index: 3

.top-nav_menu
  position: relative
  display: flex
  list-style: none
  z-index: 10

  li
    a
      padding: 18px 30px 18px 35px
      background: transparent

      &:hover
        background: $black
        color: $white
        border-radius: 20px
        transition: all 1s