.pd-btn-wrap
  display: flex
  align-items: center
  justify-content: center
  position: relative
  width: 80%
  height: 50px

  .lines-wrap
    display: block
    position: absolute
    width: 325px
    height: inherit
    margin: 0 auto

button
  display: block
  position: absolute
  margin: 0 auto
  padding: 14px 50px
  border: 4px solid $black
  border-radius: 18px
  cursor: pointer
  z-index: 3

.yellow-btn
  background: $lightYellow

.transparent-btn
  background: $white

.line-above
  position: absolute
  top: 18px
  left: 0
  width: 300px
  height: 4px
  background: $black
  z-index: 2

.line-below
  position: absolute
  bottom: 18px
  right: 0
  width: 300px
  height: 4px
  background: $black
  z-index: 2





