$badge-circle-width: 130px
$badge-line-width: 15px

$badge-color: #d7d2d6
$badge-background: #cacaca

$Ps_skill: 75%
$Ai_skill: 65%
$knitting_skill: 25%

$duration: 5s
$easing: ease-in

.badge-wrapper
  width: 100%
  //min-height: 100vh
  display: flex
  align-items: center
  justify-content: center

*
  box-sizing: border-box
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

.pic-badge
  position: relative
  margin: 30px 0
  //width: 60% //$badge-circle-width
  //height: 270px //$badge-circle-width * 2

  .badge-progress
    position: relative
    //width: 270px //$badge-circle-width
    //height: 270px //$badge-circle-width
    border-radius: 50%
    background-color: $pbCircleBg
    border: 1px solid $pbCircleBorder
    z-index: 1

    .profile
      width: 115px //$badge-circle-width - $badge-line-width
      height: 115px //$badge-circle-width - $badge-line-width
      border-radius: 50%
      background: $white
      //border: 2px solid $black
      z-index: 500
      position: absolute
      top: 0
      right: 0
      margin: auto
      left: 0
      bottom: 0

      .icon-profile
        width: $badge-circle-width - $badge-line-width
        height: $badge-circle-width - $badge-line-width
        border-radius: 50%

    .progress-overlay
      position: absolute
      text-align: center
      left: 0
      right: 0
      bottom: 0
      //top: $badge-circle-width + 10px
      margin: auto

      //border: 4px solid $black

      .digit
        font-weight: bold
        line-height: 1
        margin: 0

      p
        font-size: 10px
        margin: .3rem
        letter-spacing: .1rem
        text-transform: uppercase

//Внутреннее анимированное кольцо
.progress-bar-in
  .circle
    width: 45%
    height: $badge-circle-width - $badge-line-width
    transform-origin: 100% 50%
    position: absolute
    top: 2.5%
    left: 2.5%

    background: $badge-color

  .spinner
    border-radius: 100% 0 0 100% / 50% 0 0 50%
    z-index: 240
    border: 2px solid $black
    border-right: none
    animation: rota $duration linear 1 forwards

  .filler
    border-radius: 0 100% 100% 0 / 0 50% 50% 0
    left: 45%
    opacity: 0
    z-index: 140
    //animation: opa-reverse $duration steps(1,end) 1 forwards
    border: 2px solid $black
    border-left: none

  .mask
    width: 120px
    height: 120px
    position: absolute
    background: $badge-background
    opacity: 1
    z-index: 350
    border-radius: 50%
    animation: opa $duration steps(1,end) 1 forwards
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%)

//Внешнее анимированное кольцо
.progress-bar
  .circle
    width: 100%
    height: 100%
    //transform-origin: 100% 50%
    position: absolute
    //background: $pbCircleBg
    //border: 1px solid $pbCircleBorder
    z-index: 200

  .spinner
    border-radius: 50% //100% 0 0 100% / 50% 0 0 50%
    //border-radius: 0 100% 100% 0 / 0 50% 50% 0
    z-index: 200
    background: transparent
    background-color: $spinnerBg
    //box-sizing: border-box
    //border: 2px solid transparent
    border-color: $black
    //box-shadow: inset 0 0 0 2px $black
    //border-right: none
    //border-left: none
    //animation: rota $duration linear 1 forwards

    transition: background-color 3s, border-color 0.15s linear

  .spinner:before
    content: ''
    position: absolute
    display: block
    top: 0
    left: 0
    //box-sizing: inherit
    width: 100%
    height: 100%
    border-radius: 50%
    //border: 2px solid transparent
    //animation: rota $duration linear 1 forwards
    //border-radius: 100%
    //transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;

  .filler
    border-radius: 0 100% 100% 0 / 0 50% 50% 0
    left: 50%
    opacity: 0
    z-index: 100
    animation: opa-reverse $duration steps(1,end) 1 forwards
    border: 2px solid $black
    border-left: none

  .mask
    width: 100%
    height: 100%
    position: absolute
    background: $pbCircleBg
    border: 1px solid $pbCircleBorder
    opacity: 1
    z-index: 150
    border-radius: 50%
    //clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%)

.progress-number
  display: flex
  width: 100%
  align-items: center
  justify-content: center

@keyframes rota
  0%
    transform: rotate(0deg)
  80%
    transform: rotate(80deg)


@keyframes opa
  0%
    opacity: 1
  50%, 100%
    opacity: 0

@keyframes opa-reverse
  0%
    opacity: 0
  50%, 100%
    opacity: 1

.digit
  height: 1em
  width: .7em
  overflow: hidden
  div
    line-height: 1em

  .digit-one
    animation: slide linear 5 ($duration / 5) forwards

  .digit-ten
    animation: slide linear 1 $duration forwards

  .digit-hundred
    transform: translateY(-1em)
    animation: slide-hundred 1 $duration/2 forwards $duration/2

@keyframes slide
  from
    transform: translateY(-10em)
  to
    transform: translateY(0)

@keyframes slide-hundred
  from
    transform: translateY(-1em)
  to
    transform: translateY(0)