extends ../layout/layout

block title
    | Pink Donut

block header
    include ../common/header
block title-banner
    include ../sections/title-banner
block what-i-do
    include ../sections/what-i-do
block my-works
    include ../sections/my-works
block about-me
    include ../sections/about-me
block contact
    include ../sections/contact
block footer
    include ../common/footer