doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(http-enquiv='X-UA-Compatible', content="IE = edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name="keywords" content="")
        meta(name="author" content="AK")
        link(href="static/css/main.css" rel="stylesheet" type="text/css")
        link(href="static/css/animate.css" rel="stylesheet" type="text/css")
        link(href="static/fonts/fonts.css" rel="stylesheet" type="text/css")
        link(href="static/css/progress-bar-circle.css" rel="stylesheet")
        link(href="static/css/slick.css" rel="stylesheet" type="text/css")
        link(href="static/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css")
        //link(href="static/fontello/fontello.css" rel="stylesheet" type="text/css")
        link(href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css")
        link(href="static/css/bootstrap-grid.min.css" rel="stylesheet")
        script(src="http://code.jquery.com/jquery.js")
        //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src="http://code.jquery.com/jquery-latest.js")
        script(src="static/js/slick.min.js")
        script(src="static/js/jquery.mCustomScrollbar.js")
        script(src="static/js/scroll-bar-call.js")
        script(src="static/js/disable-distroy-call.js")
        script(src="static/js/libs.min.js")
        //script(src="static/js/modernizr.custom.js")
        //script(src="static/js/cbpFWTabs.js")

        script(src="static/js/wow.min.js")
        script(src="static/js/main.js")

        title
            block title
    body
        <!--[if lt IE 8]>
        p.browserhappy
            | You are using an <strong>outdated</strong> browser.
            | Please <a href="http://browserhappy.com/">upgrade your browser</a>
            | to improve your experience.
        <![endif]-->
        .wrapper.content
            block header
            block title-banner
            block what-i-do
            block my-works
            block about-me
            block contact
            block footer
        //script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        //script window.jQuery || document.write('<script src="static/js/jquery.min.js"><\/script>')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')

        script(src="static/js/progress-bar.js")
        //script(src="static/js/appearence.js")
        script(src="static/js/jquery.viewportchecker.min.js")