footer
    .container
        .row
            .col-4
                p.title-h4 Copyright 2015 © by Anna Dadej
            .col
                ul.top-nav_menu
                    li
                        a(href="#").title-h4 Home
                    li
                        a(href="#").title-h4 What I Do
                    li
                        a(href="#").title-h4 My works
                    li
                        a(href="#").title-h4 About
                    li
                        a(href="#").title-h4 Contact