header
    .container
        .col-10
            ul.top-nav_menu
                li
                    a(href="#").title-h3 Home
                li
                    a(href="#").title-h3 What I Do
                li
                    a(href="#").title-h3 My works
                li
                    a(href="#").title-h3 About
                li
                    a(href="#").title-h3 Contact
        .col-4